<% include header %>
<div class="ui fluid container">
<table class="ui blue inverted striped large table">
  <thead>
  <tr>
    <th class="ten wide">Scénario</th>
    <th class="two wide center aligned">Début</th>
    <th class="two wide ">Durée</th>
    <th class="two wide">Nombre de places</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nom Jeu 1 <br>Mots clés: 1 2 3</td>
      <td class="center aligned">14:40</td>
      <td class="center aligned">3:00</td>
      <td class="center aligned">4/6</td>
    </tr>
    <tr>
      <td>Nom Jeu 1 <br>Mots clés: 1 2 3</td>
      <td class="center aligned">14:40</td>
      <td class="center aligned">3:00</td>
      <td class="center aligned">4/6</td>
    </tr>
    <tr>
      <td>Nom Jeu 1 <br>Mots clés: 1 2 3</td>
      <td class="center aligned">14:40</td>
      <td class="center aligned">3:00</td>
      <td class="center aligned">4/6</td>
    </tr>
    <tr>
      <td>Nom Jeu 1 <br>Mots clés: 1 2 3</td>
      <td class="center aligned">14:40</td>
      <td class="center aligned">3:00</td>
      <td class="center aligned">4/6</td>
    </tr>
    <tr>
      <td>Nom Jeu 1 <br>Mots clés: 1 2 3</td>
      <td class="center aligned">14:40</td>
      <td class="center aligned">3:00</td>
      <td class="center aligned">4/6</td>
    </tr>
    <tr>
      <td>Nom Jeu 1 <br>Mots clés: 1 2 3</td>
      <td class="center aligned">14:40</td>
      <td class="center aligned">3:00</td>
      <td class="center aligned">4/6</td>
    </tr>
    <tr>
      <td>Nom Jeu 1 <br>Mots clés: 1 2 3</td>
      <td class="center aligned">14:40</td>
      <td class="center aligned">3:00</td>
      <td class="center aligned">4/6</td>
    </tr>
    <tr>
      <td>Nom Jeu 1 <br>Mots clés: 1 2 3</td>
      <td class="center aligned">14:40</td>
      <td class="center aligned">3:00</td>
      <td class="center aligned">4/6</td>
    </tr>
    <tr>
      <td>Nom Jeu 1 <br>Mots clés: 1 2 3</td>
      <td class="center aligned">14:40</td>
      <td class="center aligned">3:00</td>
      <td class="center aligned">4/6</td>
    </tr>
  </tbody>
</table>
</div>
<% include footer %>
