<% include header %>
  <h1> Configuration du Tableau </h1>
<div class="div.ui.container">
<form action="/affichage" method="post" class="ui form">
Ici menu déroulant
<button type="submit" class="ui blue labeled submit icon button">
  <i class="icon edit"></i>Envoyer
</button>
</form>
</div>
<% include footer %>
