 <form class="ui form" method="post" action="/">
    <input type="hidden" name="tableName" value="Association">
    <h4 class="ui dividing header">Ajout d'une association: </h4>
    <div class="field">
      <label for="name">Nom</label>
      <input type="text" id="name" name="name" placeholder="Nom de l'association">
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Envoyer
    </button>
 </form>
