<% include header %>
 <form class="ui form" method="post" action="/">
   <input type="hidden" name="tableName" value="Disponibilite">
    <h4 class="ui dividing header">Ajout d'une disponibilité: </h4>
    <div class="field">
      <label for="convention">Convention</label>
      <select   class="ui fluid dropdown"
                id="convention"
                name="convention"
                required>
        <option value="" selected disabled>Nom de la convention</option>
        <option value="conv1">Convention 1</option>
        <option value="conv2">Convention 2</option>
        <option value="conv3">Convention 3</option>
      </select>
    </div>
    <div class="field">
      <label for="scenario">Scenario</label>
      <select   class="ui fluid dropdown"
                id="scenario"
                name="scenario"
                required>
        <option value="" selected disabled>Nom du Scénario</option>
        <option value="monsieur">Monsieur Monsieur</option>
        <option value="madame">Madame Madame</option>
        <option value="patate">Patate Patate</option>
      </select>
    </div>
    <div class="field">
      <label for="schedule1">Date de début</label>
      <div class="two fields">
        <div class="field">
          <input type="date" id="schedule1_1" name="schedule1_1"/>
        </div>
        <div class="field">
          <input type="time" id="schedule1_2" name="schedule1_2"/>
        </div>
      </div>
    </div>
    <div class="field">
      <label for="name">Numéro de la table</label>
      <input id="tablenumber" name="tablenumber" type="number" min="1" max="15" step="1"/>
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Envoyer
    </button>
</form>
<% include footer %>
