 <form class="ui form" method="post" action="/">
   <input type="hidden" name="tableName" value="Partie">
    <h4 class="ui dividing header">Ajout d'une partie: </h4>
    <div class="field">
      <label for="player">Joueur</label>
      <select   class="ui fluid dropdown"
                id="player"
                name="player"
                required>
        <option value="" selected disabled>Choisir un joueur</option>
        <option value="monsieur">Monsieur Monsieur</option>
        <option value="madame">Madame Madame</option>
        <option value="patate">Patate Patate</option>
      </select>
    </div>
    <div class="field">
      <label for="disponibilite">Disponibilité</label>
      <select   class="ui fluid dropdown"
                id="disponibilite"
                name="disponibilite"
                required>
        <option value="" selected disabled>Choisir une disponibilité</option>
        <option value="dispo1">Disponibilité 1</option>
        <option value="dispo2">Disponibilité 2</option>
        <option value="dispo3">Disponibilité 3</option>
      </select>
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Envoyer
    </button>

</form>
