<% include header %>
<form class="ui form" method="post" action="/">
  <input type="hidden" name="tableName" value="Scenario">
    <h4 class="ui dividing header">Ajout d'un scénario: </h4>
    <div class="field">
      <label for="name">Nom</label>
      <input type="text" id="name" name="name" placeholder="Nom du scenario">
    </div>
    <div class="field">
      <label for="playerquantity">Nombre de joueurs</label>
      <input id="playerquantity" name="playerquantity" type="number" min="1" step="1"/>
    </div>
    <div class="field">
      <label for="duration">Durée maximale de la table :</label>
      <input type="time" id="duration" name="duration"/>
    </div>
    <div class="field">
      <label for="idsystem">Univers:</label>
      <select   class="ui fluid dropdown"
                id="idsystem"
                name="idsystem"
                required>
        <option value="" selected disabled>Choisir un univers</option>
        <% for(var i=0; i < T_Systeme.length; i++) {%>
          <option value=<%= T_Systeme[i].id_Systeme %>>
            <%= T_Systeme[i].Sys_Name %>
          </option>
        <% } %>
      </select>
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Envoyer
    </button>
</form>
<% include footer %>
