 <form class="ui form" method="post" action="/">
   <input type="hidden" name="tableName" value="Theme">
    <h4 class="ui dividing header">Ajout d'un genre à un univers: </h4>
    <div class="field">
      <label for="idsystem">Univers de jeu</label>
      <select class="ui fluid dropdown" id="idsystem" name="idsystem">
        <option value="idsyst1">Univers 1</option>
        <option value="idsyst2">Univers 2</option>
        <option value="idsyst3">Univers 3</option>
      </select>
    </div>
    <div class="field">
      <label for="scenario">Genre</label>
      <select class="ui fluid dropdown" id="idmotcle" name="idmotcle">
        <option value="idmotcle1">Steam (Pas Punk)</option>
        <option value="idmotcle2">Ero-nique Fantasy</option>
        <option value="idmotcle3">Monsieur Patate</option>
      </select>
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Envoyer
    </button>
</form>
