<!DOCTYPE html>
  <html>
<head>
  <title> Test d'Affichage </title>

  <link rel="stylesheet" type="text/css" href="assets/semantic/dist/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="semantic/dist/semantic.min.js"></script>

  <style>
    .fluid.container{
      margin-top: 5em;
    }
  </style>
  <script language="JavaScript">
$('.menu .item').tab();
  </script>

  <style type="text/css">
body { margin: 0; padding: 0; }
</style>

</head>
<body>
<div class="ui fixed green inverted menu">
  <a href="/" class="header item"> Retour accueil </a>
 </div>

<div class="ui fluid container">
