<% include header %>

  <h1>Section Administration</h1>

  <div class="ui top red inverted attached tabular menu">
    <button class="ui item" onclick="openTab(event, 'London')">London</button>
    <button class="ui item" onclick="openTab(event, 'Paris')">Paris</button>
    <button class="ui item" onclick="openTab(event, 'Tokyo')">Tokyo</button>
    <button class="ui item" onclick="openTab(event, 'London')">London</button>
    <button class="ui item" onclick="openTab(event, 'Paris')">Paris</button>
    <button class="ui item" onclick="openTab(event, 'Tokyo')">Tokyo</button>
  </div>

  <div id="London" class="ui bottom attached tab segment">
    <h3>London</h3>
    <p>London is the capital city of England.</p>
  </div>

  <div id="Paris" class="ui bottom attached tab segment">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
  </div>

  <div id="Tokyo" class="ui bottom attached tab segment">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
  </div>

  <script>
    function openTab(evt, tabName) {
      var i, segment, tablinks;
      tabcontent = document.getElementsByClassName("segment");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("ui item");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>

  <% include footer %>
