<% include header %>

  <h1>Section Administration</h1>

  <div class="ui top red inverted attached tabular menu">
<!--
    <button class="ui item" onclick="openTab(event, 'Association')"> Association </button>
-->
    <button class="ui item" onclick="openTab(event, 'Convention')"> Convention </button>
    <button class="ui item" onclick="openTab(event, 'Disponibilite')">Disponibilité</button>
    <button class="ui item" onclick="openTab(event, 'Partie')"> Partie </button>
    <button class="ui item" onclick="openTab(event, 'Scenario')"> Scenario </button>
    <button class="ui item" onclick="openTab(event, 'Systeme')"> Univers </button>
    <button class="ui item" onclick="openTab(event, 'MotCle')"> Genre </button>
    <button class="ui item" onclick="openTab(event, 'Theme')">Univers &harr; Genre</button>
  </div>

  <div id="Association" class="ui bottom attached tab segment">
    <% include addAssociation %>
  </div>
  <div id="Convention" class="ui bottom attached tab segment">
    <% include addConvention %>
  </div>
  <div id="Disponibilite" class="ui bottom attached tab segment">
    <% include addDisponibilite %>
  </div>
  <div id="Partie" class="ui bottom attached tab segment">
    <% include addPartie %>
  </div>
  <div id="Scenario" class="ui bottom attached tab segment">
    <% include addScenario %>
  </div>
  <div id="MotCle" class="ui bottom attached tab segment">
    <% include addMotCle %>
  </div>
  <div id="Theme" class="ui bottom attached tab segment">
    <% include addTheme %>
  </div>
  <div id="Systeme" class="ui bottom attached tab segment">
    <% include addSysteme%>
  </div>
  <script>
    function openTab(evt, tabName) {
      var i, segment, tablinks;
      tabcontent = document.getElementsByClassName("segment");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("ui item");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>

  <% include footer %>
