<% include header %>
<div class="ui main container">
  <div class="ui one column divided grid">
    <div class="stretched row">
      <div class="column" style="text-align: center;">
        <div class="ui segment">
          <h4 class="ui horizontal divider header"><i class="user icon"></i>[Titre scénario:]</h4>
          <img class="ui centered  image" src=" http://vignette3.wikia.nocookie.net/starwars/images/5/52/Force_and_Destiny_logo.png/revision/latest?cb=20151102133120 ">
          </br>
          <div class="ui three column center aligned grid" style="justify-content: center;align-items: center;">
            <div class="column">
              <h4 class="ui horizontal divider header"></i>Planning:</h4>
              <div class="ui center aligned segment">
                HH:MM  <i class="long arrow right icon"></i> HH:MM
              </div>
            </div>
            <div class="column">
              <h4 class="ui horizontal divider header"></i>Places disponibles:</h4>
                <div class="ui center aligned segment">
                  X/Y
                  </div>
                </div>
            <div class="column"><a href="/accueil/logon"><button class="ui fluid primary button" >Inscription</button></a></div>
          </div>

          <h4 class="ui horizontal divider header" >
            <i class="tag icon"></i>Mots Clés
          </h4>
          Lolilol, Medieval, Fantastique

          <h4 class="ui horizontal divider header"><i class="tag icon"></i>Descriptif</h4>
          <div class="ui segment" style="text-align: justify;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida ac enim sed faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed et ligula eu sapien ullamcorper interdum sed eu felis. Nullam quis sem iaculis, iaculis turpis eget, rhoncus ante. Maecenas quis nisl nec velit facilisis tempor sed sit amet orci. Sed commodo euismod purus. Mauris faucibus mollis massa, lobortis dignissim magna pulvinar quis. Maecenas sodales placerat tellus, congue tempor ex porta eget. Vivamus suscipit facilisis risus, id tincidunt sem bibendum ac. Suspendisse potenti. Etiam elementum nulla nunc. <br>
          </div>

          <h4 class="ui horizontal divider header"><i class="tag icon"></i>[Nom Système]</h4>
          <div class="ui segment" style="text-align: justify;">
Sed volutpat molestie quam sed sodales. Curabitur ornare tempus maximus. Morbi urna est, tincidunt non tellus ut, porttitor lacinia enim. Donec eu ullamcorper urna, a rutrum mauris. Curabitur non nibh ut risus iaculis placerat id a odio. Nunc venenatis faucibus viverra. Nullam dignissim rutrum magna, eget porta metus pretium eu. Quisque non ligula dui. Aliquam maximus vulputate dictum. Ut iaculis velit nunc, vel tristique massa malesuada at.<br>

Nulla finibus mi velit, et dignissim quam dapibus at. Ut viverra pharetra eros, quis dictum velit congue at. Morbi eu purus at nulla fringilla sollicitudin non eu sapien. Maecenas facilisis, lectus nec interdum dictum, nibh massa tempus nisl, at laoreet nisi nunc eget purus. Sed pharetra molestie blandit. Aenean lacinia blandit dolor et scelerisque. In euismod tortor et lacus auctor, vel venenatis diam faucibus. In cursus est sed neque commodo, a luctus lorem sodales. Etiam feugiat magna pretium felis hendrerit dictum non et nibh. Fusce eu feugiat lacus. Donec vitae purus nunc. Praesent sit amet ipsum dui. <br>

Aliquam erat volutpat. Nullam venenatis aliquam dolor a rhoncus. Nam vitae convallis eros. Sed leo turpis, pharetra in mi vel, rutrum rhoncus augue. Suspendisse finibus odio vitae sollicitudin pulvinar. Integer maximus nec nulla et malesuada. Duis ut nisl quis risus eleifend porta eget placerat sapien. Donec id tortor ligula. Aenean molestie, massa a dapibus condimentum, lorem neque bibendum metus, in maximus nisl nisi vel sapien. <br> </div>



        </div>
    </div>
  </div>
</div>
<% include footer %>
