<% include header %>
<div class="ui main container">
  <div class="ui one column divided grid">
    <div class="stretched row">
      <div class="column" style="text-align: center;">
        <div class="ui two column center aligned grid" style="justify-content: center;align-items: center;">
          <div class="column">
            <img class="ui centered  image" src="http://www.legrog.org/visuels/couvertures/13727.jpg">
          </div>
          <div class="column">
            <h4 class="ui horizontal divider header" >
              <i class="tag icon"></i>[Titre de l'univers]
            </h4>
            <div class="ui center aligned segment">
              [Accroche] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nemo iusto, error quam aliquam accusamus adipisci, sequi qui ullam a consequuntur alias harum amet repudiandae! Dolorum omnis unde, atque totam.
            </div>
            <h4 class="ui horizontal divider header" >
              <i class="tag icon"></i>Public visé:
            </h4>
            [Public Visé]
             <br>
            <h4 class="ui horizontal divider header" >
              <i class="tag icon"></i>Nombre de joueurs:
            </h4>
Possibilités sur 2 mini 4 max
            <br>
            <a class="ui red circular label">1</a>
            <a class="ui red circular label">2</a>
            <a class="ui circular label">3</a>
            <a class="ui circular label">4</a>
            <br>
            <a class="ui blue circular label">1</a>
            <a class="ui red circular label">2</a>
            <a class="ui circular label">3</a>
            <a class="ui circular label">4</a>
            <br>
            <a class="ui green circular label">1</a>
            <a class="ui green circular label">2</a>
            <a class="ui circular label">3</a>
            <a class="ui circular label">4</a>
            <br>
            <a class="ui green circular label">1</a>
            <a class="ui green circular label">2</a>
            <a class="ui green circular label">3</a>
            <a class="ui circular label">4</a>
            <br>
            <a class="ui green circular label">1</a>
            <a class="ui green circular label">2</a>
            <a class="ui green circular label">3</a>
            <a class="ui green circular label">4</a>
             <br> <br>
            <a href="#">
              <button class="ui fluid primary button" >Inscription</button>
            </a>
        </div>
    </div>
  </div>
</div>
<% include footer %>
