<% include header %>
<div class="ui container">
  <div class="ui grid">
    <div class="two column row">
      <div class="column">
        <div class="ui segment">
          <div class="ui vertical fluid menu">
            <div class="item">Quatrième couverture</div>
            <div class="item">Logo Système JdR</div>
            <div class="item">Mots Clés Systeme JdR</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <div class="column">
            <div class="ui vertical fluid menu">
              <div class="item">Titre Scénario</div>
              <div class="item">Descriptif Scénario</div>
              <div class="item">Bouton Inscription</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include footer %>
