<% include header %>
<div class="ui container">
  <div class="ui two column divided grid">
    <div class="stretched row">
      <div class="column">
        <div class="ui segment">
          <h4 class="ui horizontal divider header"><i class="tag icon"></i>Descriptif Système</h4>
          <div class="ui segment"> Quatrième couverture </div>
          <h4 class="ui horizontal divider header"><i class="user icon"></i>Présenté par</h4>
          <img class="ui medium image" src="http://www.ligue-ludique.fr/wp-content/uploads/2016/10/ligueludique-1.png">
          <h4 class="ui horizontal divider header">
            <i class="tag icon"></i>Mots Clés
          </h4>
          Lolilol, Medieval, Fantastique
        </div>
      </div>
        <div class="column">
          <div class="ui segment">
          <h4 class="ui horizontal divider header"><i class="tag icon"></i>Titre Scénario</h4>
          <div class="ui segment"> Descriptif Scénario</div>
          <div class="ui container">
            <button class="ui fluid primary button">Inscription</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include footer %>
