<% include header %>
<div class="ui fluid container">
<table class="ui blue inverted striped large table">
  <thead>
  <tr>
    <th class="one wide">N° Table</th>
    <th class="six wide">Univers</th>
    <th class="four wide">Nombre de places</th>
    <th class="two wide">Public</th>
    <th class="two wide center aligned">Début</th>
    <th class="two wide ">Durée</th>

  </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>L'appel de Chtulu V7</td>
      <td>
        <i class="ui red circular label">1</i>
        <i class="ui red circular label">2</i>
        <i class="ui circular label">3</i>
        <i class="ui circular label">4</i>
        <i class="ui circular label">5</i>
        <i class="ui circular label">6</i>
        <i class="ui circular label">7</i>
        <i class="ui circular label">8</i>
      </td>
      <td class="center aligned">14+</td>
      <td class="center aligned">15h</td>
      <td class="center aligned">2h</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Star Wars</td>
      <td>
        <a class="ui red circular label">1</a>
        <a class="ui red circular label">2</a>
        <a class="ui circular label">3</a>
        <a class="ui circular label">4</a>
      </td>
      <td class="center aligned">Tout Public</td>
      <td class="center aligned">15h15</td>
      <td class="center aligned">1h30</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Donjons et Dragons</td>
      <td>
        <a class="ui red circular label">1</a>
        <a class="ui red circular label">2</a>
        <a class="ui circular label">3</a>
        <a class="ui circular label">4</a>
      </td>
      <td class="center aligned">Tout Public</td>
      <td class="center aligned">15h00</td>
      <td class="center aligned">2h</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Pathfinder</td>
      <td>
        <a class="ui red circular label">1</a>
        <a class="ui red circular label">2</a>
        <a class="ui circular label">3</a>
        <a class="ui circular label">4</a>
      </td>
      <td class="center aligned">Tout Public</td>
      <td class="center aligned">15h00</td>
      <td class="center aligned">2h</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Aventures</td>
      <td>
        <a class="ui red circular label">1</a>
        <a class="ui red circular label">2</a>
        <a class="ui circular label">3</a>
        <a class="ui circular label">4</a>
      </td>
      <td class="center aligned">Tout Public</td>
      <td class="center aligned">15h00</td>
      <td class="center aligned">2h</td>
    </tr>
  </tbody>
</table>
</div>
<% include footer %>
